

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.cnt-100{
  height: 100vh;
}

header{
  height: 20%;
}

main{
height: 60%;
}

footer{
  height: 20%;
}


 #card-cnt{
 flex-wrap: wrap;
 width: 70%;
 margin: 0 auto;
} 

